Problem Statement 1:

In each of the following situations, state whether it is a correctly stated hypothesis
testing problem and why?

1. 𝐻0: 𝜇 = 25, 𝐻1: 𝜇 ≠ 25
2. 𝐻0: 𝜎 > 10, 𝐻1: 𝜎 = 10
3. 𝐻0: 𝑥 = 50, 𝐻1: 𝑥 ≠ 50
4. 𝐻0: 𝑝 = 0.1, 𝐻1: 𝑝 = 0.5
5. 𝐻0: 𝑠 = 30, 𝐻1: 𝑠 > 30

In [1]:
print("In examples 2 and 4 seem to be erroneous. \n  In example no 2 null hypothesis does have a statement formulating equality like (=, <=, >=). \n In example no 4 the alternate hypothesis is also equated or has equality statement, no decision can be arrived on such a pair as it would be easier to reject the null hypothesis if one is able to prove if p!= 0.1 or p>0.1. \n Otherwise all the other pair of hypothesis statements are free from errors. ")

In examples 2 and 4 seem to be erroneous.
  In example no 2 null hypothesis does have a statement formulating equality like (=, <=, >=).
 In example no 4 the alternate hypothesis is also equated or has equality statement, no decision can be arrived on such a pair as it would be easier to reject the null hypothesis if one is able to prove if p!= 0.1 or p>0.1.
 Otherwise all the other pair of hypothesis statements are free from errors.

Problem Statement 2:
    
The college bookstore tells prospective students that the average cost of its
textbooks is Rs. 52 with a standard deviation of Rs. 4.50. A group of smart statistics
students thinks that the average cost is higher. To test the bookstore’s claim against
their alternative, the students will select a random sample of size 100. Assume that
the mean from their random sample is Rs. 52.80. Perform a hypothesis test at the
5% level of significance and state your decision.

In [2]:
import math
#Hypothesis testing
#H0: mu= 52
#H1: mu!= 52

#At 5% level of significance
mu =52 # population mean
S= 4.5 #population standard deviation
n= 100 #sample size
x= 52.8 #sample mean

z= (x-mu)/(S/math.sqrt(100))

#alpha= 0.05, #for two tailed test 0.05/2= 0.025
#P(1-0.025)= P(Z<z)= 0.975, the critical value is -1.96 and 1.96

print('At 5% level of significance, the computed value of 1.78 doesnt come under the critical region and so we accept the null hypothesis. \n The mean cost of the textbooks is Rs.52')

At 5% level of significance, the computed value of 1.78 doesnt come under the critical region and so we accept the null hypothesis.
 The mean cost of the textbooks is Rs.52

Problem Statement 3:

A certain chemical pollutant in the Genesee River has been constant for several
years with mean μ = 34 ppm (parts per million) and standard deviation σ = 8 ppm. A
group of factory representatives whose companies discharge liquids into the river is
now claiming that they have lowered the average with improved filtration devices. A
group of environmentalists will test to see if this is true at the 1% level of
significance. Assume \ that their sample of size 50 gives a mean of 32.5 ppm.
Perform a hypothesis test at the 1% level of significance and state your decision.

In [3]:
#H0: mu =34
#H1: mu!= 34

mu =34 # population mean
n= 50 #sample size
sigma= 8 #population standard deviation
x= 32.5 #sample mean

z= (x-mu)/(sigma/math.sqrt(50))

#The critical value at 1% level of significance for a two-tailed test from the table is -2.57 and 2.57

print("At 1% level of significance the computed value {} comes under the acceptance region and hence we accept null hypothesis".format(z))

At 1% level of significance the computed value -1.3258252147247767 comes under the acceptance region and hence we accept null hypothesis

Problem Statement 4:

Based on population figures and other general information on the U.S. population,
suppose it has been estimated that, on average, a family of four in the U.S. spends
about $1135 annually on dental expenditures. Suppose further that a regional dental
association wants to test to determine if this figure is accurate for their area of
country. To test this, 22 families of 4 are randomly selected from the population in
that area of the country and a log is kept of the family’s dental expenditure for one
year. The resulting data are given below. Assuming, that dental expenditure is
normally distributed in the population, use the data and an alpha of 0.5 to test the
dental association’s hypothesis.

1008, 812, 1117, 1323, 1308, 1415, 831, 1021, 1287, 851, 930, 730, 699,

872, 913, 944, 954, 987, 1695, 995, 1003, 994

In [4]:
#H0: mu =1135
#H1: mu!= 1135

import statistics
l= [1008, 812, 1117, 1323, 1308, 1415, 831, 1021, 1287, 851, 930, 730, 699,872, 913, 944, 954, 987, 1695, 995, 1003, 994]

statistics.mean(l)

1031.3181818181818

In [5]:
import math
lis=[]
for i in l:
    val= ((i-1031.32)**2/(22-1))
    lis.append(val)

std= sum(lis)
st= math.sqrt(std)
print(st)

240.37458593184255

In [6]:
print("The mean of the sample is {} \nThe standard deviation of the sample is {}".format(statistics.mean(l),st))

The mean of the sample is 1031.3181818181818
The standard deviation of the sample is 240.37458593184255

In [61]:
#the statisitic for the problem
x= 1031.32 # sample mean
s= 240.38 # sample standard deviation
mu = 1135 # population mean
n= 22 # sample size

In [62]:
z= ((x-mu)/(s))

In [63]:
#At 5% level of significance the critical value is -1.96 and 1.96
print("Since the z = {} falls under the accepted region of +/-1.96 we can accept the null hypothesis and conclude that the dental expenditure for the population is accurate for that paritcular area".format(z))

Since the z = -0.431317081287961 falls under the accepted region of +/-1.96 we can accept the null hypothesis and conclude that the dental expenditure for the population is accurate for that paritcular area

Problem Statement 5:

In a report prepared by the Economic Research Department of a major bank the
Department manager maintains that the average annual family income on Metropolis
is $48,432. 

What do you conclude about the validity of the report if a random sample
of 400 families shows and average income of $48,574 with a standard deviation of
2000?

In [64]:
#H0: mu= 48432
#H1: mu!= 48432

mu= 48432 #population mean
s= 2000 #sample standard deviation
x= 48574 #sample mean
n =400 # sample size

z= ((x-mu)/(s))

In [66]:
#As level of significance is not mentioned we can use standard level of significance at 5%

#From the table at alpha= 0.05 the critical value is -1.96 and 1.96

print("The computed z value {} falls under the accepted region at 5% level of significance and hence we acceptt the null hypothesis. \nIt is therefore safe to conclude that average annual family income on metropolis is around $ {}".format(z,mu))

The computed z value 0.071 falls under the accepted region at 5% level of significance and hence we acceptt the null hypothesis.
It is therefore safe to conclude that average annual family income on metropolis is around $ 48432

Problem Statement 6:

Suppose that in past years the average price per square foot for warehouses in the
United States has been $32.28

A national real estate investor wants to determine
whether that figure has changed now. The investor hires a researcher who randomly
samples 19 warehouses that are for sale across the United States and finds that the
mean price per square foot is $31.67, with a standard deviation of $1.29. 

assume
that the prices of warehouse footage are normally distributed in population. If the
researcher uses a 5% level of significance, what statistical conclusion can be
reached? What are the hypotheses?

In [12]:
#H0: mu =32.28
#H1: mu != 32.28

mu= 32.28 #population mean
x= 31.67 #sample mean
s= 1.29 #sample standard deviation
n= 19 #sample size

z=((x-mu)/(s/math.sqrt(n)))

In [13]:
#At 5% level of significance, the critical value is -1.96 and 1.96

print("The computed value {} falls in critical region and hence null hypothesis is rejected".format(z))

The computed value -2.06118477175179 falls in critical region and hence null hypothesis is rejected

Problem Statement 7:

Fill in the blank spaces in the table and draw your conclusions from it.

In [14]:
import numpy as np              #Creating array of numbers between given range
def rand(start, end, num):
    res= []
    np.random.seed(1234)
    
    for i in range(num):
        res.append(np.random.uniform(start,end))
    return res

In [30]:
def stdev(lis, size):       #Deducing the standard deviation from the sample
    import math
    import statistics
    col= []
    for k in lis:
        d= ((k-statistics.mean(lis))**2/(size-1))
        col.append(d)
    add= sum(col)
    std= math.sqrt(add)
    return std

48.5 < x< 51.5, sample_size=10, alpha= ?, beta @mu=52, beta @mu50.5

In [31]:
a= rand(48.5,51.5,10)
s1= stdev(a,10)

In [33]:
#Calculating alpha @ mu=50
mu1= statistics.mean(a)

""" alpha is the probability of rejecting H0 when it is true
alpha= P(X<48.5; mu=50)+P(X>51.5; mu=50)"""

z1= ((48.5-mu1)/s1)
z2= ((51.5-mu1)/s1)

#alpha= P(Z<z1)+P(Z>z2)

alpha= 0.0384+0.0383

"""beta is the probability of failing to reject Ho when it is false
beta= P(48.5<X<51.5, mu=52) and beta = P(48.5<X<51.5, mu= 50.5)"""

z3= ((48.5-52)/s1)
z4= ((51.5-52)/s1)

#beta= P(Z<z4)-P(Z<z3)

beta1= 0.2776-0.0000

z5= ((48.5-50.5)/s1)
z6= ((51.5-50.5)/s1)

beta2= 0.8810-0.0091

print("The alpha value at given mean is {}".format(alpha))
print("The beta value at mu =52 is {} \nbeta value at mu=50.5 is {}".format(beta1, beta2))

The alpha value at given mean is 0.07669999999999999
The beta value at mu =52 is 0.2776
beta value at mu=50.5 is 0.8719

48<X<52, n=10, alpha=?, beta @mu=52 and beta @mu=50.5

In [18]:
n=10
b= rand(48,52,n)
s2= stdev(b,n)

In [19]:
mu2= statistics.mean(b)

#alpha= P(X<48, mu2)+P(X>52, mu2)
z11= ((48-mu2)/s2)
z12= ((52-mu2)/s2)

alpha= 0.0170+0.073

#beta1= P(48<X<52, mu=52)
z13= ((48-52)/s2)
z14= ((52-52)/s2)

beta1= 0.5000-0.0000

#beta2= P(48<X<52, mu=50.5)
z15= ((48-50.5)/s2)
z16= ((52-50.5)/s2)

beta2= 0.9066-0.0136

print("The alpha value at given mean is {} ".format(alpha))
print("The beta value at mu=52 is {} and beta at mu =50.5 is {}".format(beta1, beta2))

The alpha value at given mean is 0.09
The beta value at mu=52 is 0.5 and beta at mu =50.5 is 0.893

48.81<X<51.9 , n=16, alpha=?, beta @ mu=52 and beta @ mu=50.5

In [20]:
n=16
c= rand(48.81, 51.9, n)
s3= stdev(c, n)

In [21]:
mu3= statistics.mean(c)

#alpha= P(X<48.81, mu3)+P(X>51.9, mu3)

z21= ((48.81-mu3)/s3)
z22= ((51.9-mu3)/s3)

alpha = 0.0080+0.0374

#beta= P(X<51.9, mu=52)-P(X<48.81, mu=52)
z23= ((48.81-52)/s3)
z24= ((51.9-52)/s3)

beta1= 0.4483-0.0000

#beta= P(X<51.9, mu=50.5)-P(X<48.81, mu=50.5)
z25= ((48.81-50.5)/s3)
z26= ((51.9- 50.5)/s3)

beta2= 0.9713-0.0110

print("The alpha value at given mean is {}".format(alpha))
print("The beta value when mu =52 is {} \nThe beta value when mu =50.5 is {}".format(beta1, beta2))

The alpha value at given mean is 0.0454
The beta value when mu =52 is 0.4483
The beta value when mu =50.5 is 0.9603

48.42<X<51.58, alpha=?, beta @mu=52, beta @mu=50.5

In [22]:
n=16
d= rand(48.42, 51.58,n)
s4= stdev(d, n)

In [23]:
mu4= statistics.mean(d)

#alpha= P(X<48.42, mu4)+P(X>51.58, mu4)

z41= ((48.42-mu4)/s4)
z42= ((51.58-mu4)/s4)

alpha= 0.0080+0.0464

#beta = P(X<51.58, mu =52)- P(X<48.42, mu=52)

z43= ((48.42-52)/s4)
z44= ((51.58-52)/s4)

beta1= 0.2912-0.0000

#beta =P(X<51.58, mu=50.5)- P(X<48.42, mu=50.5)

z45= ((48.42-50.5)/s4)
z46= ((51.58-50.5)/s4)

beta2= 0.9236-0.0029

print("The alpha value at given mean is {}".format(alpha))
print("The beta value at mu=52 is {} \nThe beta value at mu= 50.5 is {}".format(beta1, beta2))

The alpha value at given mean is 0.0544
The beta value at mu=52 is 0.2912
The beta value at mu= 50.5 is 0.9207

___________________XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX__________________________________________

Problem Statement 8:

Find the t-score for a sample size of 16 taken from a population with mean 10 when
the sample mean is 12 and the sample standard deviation is 1.5

In [24]:
#Statistic value
x= 12 #sample mean
mu=10 #population mean
sigma= 1.5 #sample standard deviation
n=16 #sample size

t_score= (((x-mu))/((sigma/math.sqrt(n-1))))

In [25]:
t_score

5.163977794943222

Problem Statement 9:

Find the t-score below which we can expect 99% of sample means will fall if samples
of size 16 are taken from a normally distributed population.

In [26]:
#solution

"""1- alpha= 0.99"""

alpha = -(0.99-1)
n= 16
df= n-1
#From the table at given df
"""t_99= -t_001"""
t_001= -2.602

Problem Statement 10:

If a random sample of size 25 drawn from a normal population gives a mean of 60
and a standard deviation of 4, find the range of t-scores where we can expect to find
the middle 95% of all sample means. Compute the probability that (−𝑡0.05 <𝑡<𝑡0.10).

In [95]:
#statistic values
n= 25 #sample size
xbar= 60 #sample mean
s= 4 #sample standard deviation
df= n-1
#95% confidence interval to population mean(mu)--Find the range of t-scores
"""t_score= [xbar-(s_1/sqrt(n))*t_005,df ; xbar+(s_1/sqrt(n))*t_005,df]  """
s_1= math.sqrt(n/(n-1))*s
#t_0.05 at df=24 is 2.064 (alpha/2)=(0.05/2=0.025) from the t-table
v1= ((xbar)-((s_1/math.sqrt(n))*2.064))
v2= ((xbar)+((s_1/math.sqrt(n))*2.064))
#At 95% of all sample means the t-score range is
t_score_range= [v1, v2]
print(t_score_range)


# #At given df from t-distribution table
# t_005= 1.711
# t_001= 1.318

[58.31475105696517, 61.68524894303483]

Problem Statement 11:

Two-tailed test for difference between two population means
Is there evidence to conclude that the number of people travelling from Bangalore to
Chennai is different from the number of people travelling from Bangalore to Hosur in
a week, given the following:

Population 1: Bangalore to Chennai n1 = 1200
x1 = 452
s1 = 212

Population 2: Bangalore to Hosur n2 = 800
x2 = 523
s2 = 185

In [82]:
from scipy.stats import  ttest_ind_from_stats
import numpy as np

#H0: x1=x2
#H1: x1!=x2


#Population1:
n1= 1200
x1= 452
s1_var= (212)**2

#Population2:
n2= 800
x2= 523
s2_var= (185)**2

#T-value and p-value:

t_stat, p = ttest_ind_from_stats(x1, np.sqrt(s1_var),n1,
                           x2, np.sqrt(s2_var), n2, equal_var=False)
print(t_stat)

-7.926428526759299

In [85]:
from scipy.stats import t
# define probability
p2 = 0.975 #two tail test--(1-alpha/2)==(1-0.025)
df = n1+n2-2
# retrieve value <= probability
value = t.ppf(p2, df)
print(value)
# confirm with cdf
# p22 = t.cdf(value, df)
# print(p22)
if abs(t_stat)<=value:
    print("Accept null hypothesis that there is no difference between the population travelling from Bangalore to Chennai and Bangalore to Hosur")
else:
    print("Reject null hypothesis and conclude that the populations are different")

1.9720174778338955
Reject null hypothesis and conclude that the populations are different

Problem Statement 12:

Is there evidence to conclude that the number of people preferring Duracell battery is
different from the number of people preferring Energizer battery, given the following:

Population 1: Duracell
n1 = 100
x1 = 308
s1 = 84

Population 2: Energizer
n2 = 100
x2 = 254
s2 = 67

In [84]:
from scipy.stats import ttest_ind_from_stats
#H0: x1 =x2
#H1: x1!=x2

#population1:
n1=100
x1= 308
s1_var= (84)**2

#population2:
n2= 100
x2= 254
s2_var= (67)**2

t_stat, p= ttest_ind_from_stats(x1,np.sqrt(s1_var),n1,
                               x2, np.sqrt(s2_var),n2)

print(t_stat)

5.025702668336442

In [86]:
#critical value
from scipy.stats import t

#At 5% level of significance
p1= 0.975
df= n1+n2-2
cv= t.ppf(p1,df)

if abs(t_stat)<=cv:
    print("Accept null hypothesis that there is no difference between the no of people preferring Duracell battery to Energizer battery")
else:
    print("Reject null hypothesis and conclude the people who prefer the two batteries are different")

Reject null hypothesis and conclude the people who prefer the two batteries are different

Problem Statement 13:

Pooled estimate of the population variance
Does the data provide sufficient evidence to conclude that average percentage
increase in the price of sugar differs when it is sold at two different prices?

Population 1: 
Price of sugar = Rs. 27.50
n1 = 14
x1 = 0.317%
s1 = 0.12%

Population 2: 
Price of sugar = Rs. 20.00 
n2 = 9
x2 = 0.21%
s2 = 0.11%

In [104]:
#H0: mu1-mu2=0
#H1: mu1-mu2 !=0

#Population1:
n1=14
x1= 0.317
s1= 0.12
s1_var= s1**2

#Population2:

n2=9
x2= 0.21
s2= 0.11
s2_var=s2**2

df= n1+n2-2
"""t= (x1-x2)-(mu1-mu2)0/sp1*(1/n1+1/n2)"""

#Calculating pooled estimate of variance

sp1= (((n1-1)*s1_var)+((n2-1)*s2_var))/(df)

denom= sp1*((1/14)+(1/9))

denom_sqrt= math.sqrt(denom)

t= ((x1-x2)/denom_sqrt)

#At df=21 and t_0.025 cv= 2.080
cv=2.080

if abs(t)<=cv:
    print("Accept the null hypothesis")
else:
    print("Reject the null hypothesis")

Reject the null hypothesis

Problem Statement 14:

The manufacturers of compact disk players want to test whether a small price
reduction is enough to increase sales of their product. Is there evidence that the
small price reduction is enough to increase sales of compact disk players?

Population 1: 
Before reduction
n1 = 15

x1 = Rs. 6598 

s1 = Rs. 844

Population 2: 
After reduction 
n2 = 12

x2 = RS. 6870

s2 = Rs. 669

In [112]:
#H0: mu2-mu1<=0
#H1: mu2-mu1>0

#Population1:

n1= 15
x1= 6598
s1= 844
s1_var =(s1)**2

#Population2:

n2= 12
x2=6870
s2=669
s2_var =(s2)**2

df=n1+n2-2

sp1= (((n1-1)*s1_var)+((n2-1)*s2_var))/(df)

denom= sp1*((1/n1)+(1/n2))

denom_sqrt= math.sqrt(denom)

t= ((x2-x1)/denom_sqrt)

#At 5% level of significance with df = 25 
cv= 1.708

if abs(t)<=cv:
    print("Accept the null hypothesis")
else:
    print("Reject the null hypothesis")

Accept the null hypothesis

Problem Statement 15:

Comparisons of two population proportions when the hypothesized difference is zero
Carry out a two-tailed test of the equality of banks’ share of the car loan market in
1980 and 1995.

Population 1: 
1980
n1 = 1000
x1 = 53
𝑝 1 = 0.53

Population 2: 
1985
n2 = 100
x2 = 43
𝑝 2= 0.53

In [119]:
#H0: p1-p2=0
#H1: p1-p2!=0

#Population1: 1980
n1= 1000
x1= 53
p1_hat= 0.53

#Population2: 1985
n2=100
x2=43
p2_hat=0.53

p_hat = (x1+x2)/(n1+n2)


#test statisitic based on proportions
z= ((p1_hat-p2_hat)-0)/math.sqrt((p_hat*(1-p_hat))*((1/n1)+(1/n2)))

#At 5% level of significance from z-table/normal distribution table

cv= 1.64

print("The test statistic value {} is between +/- {} and is in the acceptance region and hence the null hypothesis is accepted".format(z,cv))

The test statistic value 0.0 is between +/- 1.64 and is in the acceptance region and hence the null hypothesis is accepted

Problem Statement 16:

Carry out a one-tailed test to determine whether the population proportion of
traveler’s check buyers who buy at least $2500 in checks when sweepstakes prizes
are offered as at least 10% higher than the proportion of such buyers when no sweepstakes are on.

Population 1: 
With sweepstakes
n1 = 300
x1 = 120
𝑝 = 0.40

Population 2: 
No sweepstakes 
n2 = 700
x2 = 140
𝑝 2= 0.20

In [155]:
#H0: p1-p2<=0.10
#H1: p1-p2>0.10

#Population1:
n1=300
x1=120
p1_hat= 0.40

#Population2:
n2=700
x2=140
p2_hat =0.20

D= 0.10

#Difference between proportions of populations

p1= p1_hat*(1-p1_hat)/n1
p2= p2_hat*(1-p2_hat)/n2
den= p1+p2
se= math.sqrt(den)

p_h = (p1_hat-p2_hat)


num = p_h-D

z= num/se

#At 5% level of significance,from the z-table
cv= 1.64

if z<=cv:
    print("Accept Ho. There is differnece in proportion of buyers from two given population when sweepstakes were 10% higher than the other.")
else:
    print("Reject Ho. There is no differnece in proportion of buyers from two given population when sweepstakes were 10% higher than the other.")

Reject Ho. There is no differnece in proportion of buyers from two given population when sweepstakes were 10% higher than the other.

Problem Statement 17:

A die is thrown 132 times with the following results: Number turned up: 1, 2, 3, 4, 5, 6
Frequency: 16, 20, 25, 14, 29, 28
Is the die unbiased? Consider the degrees of freedom as 𝑝 − .

In [159]:
#H0: The die is unbiased
#H1: The die is not unbiased

#Given observed frequencies

obs= [16,20,25,14,29,28]
obs_mean= statistics.mean(obs)

exp= [22,22,22,22,22,22]

In [165]:
diff=[]

zi= zip(obs,exp)
for obs_i, exp_i in zi:
    diff.append(obs_i-exp_i)
chi=[freq**2 for freq in diff]

In [176]:
#Summation of differneces
sum_chi= sum(chi)
#Calculating the final chi_square test value

chi_square= sum_chi/obs_mean

from scipy import stats
#At 5% level of significancen from table
critical_val = 11.070

In [177]:
print("The test value {} lies in the acceptance region and < {}".format(chi_square,critical_val))

The test value 9.0 lies in the acceptance region and < 11.07

Problem Statement 18:

In a certain town, there are about one million eligible voters. A simple random
sample of 10,000 eligible voters was chosen to study the relationship between
gender and participation in the last election. The results are summarized in the
following 2X2 (read two by two) contingency table:

In [196]:
#H0: Gender and voting are independent
#H1: Gender and voting are dependent

In [179]:
voted= [2792,3591]
not_voted= [1486, 2131]
voted_sum= sum(voted)
not_voted_sum= sum(not_voted)
voted.append(voted_sum)
not_voted.append(not_voted_sum)

In [181]:
grand_total= [2792+1486, 3591+2131, voted_sum+not_voted_sum]

In [183]:
import pandas as pd

ls= [voted,not_voted,grand_total]

Obs= pd.DataFrame(ls, columns=['Men','Women','Total'],index=['Voted','Not Voted','combined'])

In [184]:
Obs

            Men  Women  Total
Voted      2792   3591   6383
Not Voted  1486   2131   3617
combined   4278   5722  10000

In [188]:
Obs1= Obs.iloc[0:2,0:2]

In [189]:
Obs1 #Observed frequency

            Men  Women
Voted      2792   3591
Not Voted  1486   2131

In [185]:
import numpy as np

Exp= np.outer(Obs['Total'][0:2], Obs.iloc[2:3, 0:2])/(voted_sum+not_voted_sum)

In [190]:
Ex= pd.DataFrame(Exp,columns=['Men','Women'],index=['Voted','Not Voted'])

In [191]:
Ex

                 Men      Women
Voted      2730.6474  3652.3526
Not Voted  1547.3526  2069.6474

In [192]:
#Calculating the chi-square test value
chi_sq_test= (((Obs1-Ex)**2)/Ex).sum()

In [194]:
final_chi_sq= sum(chi_sq_test)

In [195]:
final_chi_sq

6.660455899328067

In [197]:
cval= stats.chi2.ppf(q=1-0.05, df=1)

In [198]:
cval

3.841458820694124

In [199]:
print("The chi-square test value {} is greater than the critical value {}. Hence we can reject the null hypothesis. Gender and Voting are dependent on each other".format(final_chi_sq, cval))

The chi-square test value 6.660455899328067 is greater than the critical value 3.841458820694124. Hence we can reject the null hypothesis. Gender and Voting are dependent on each other

Problem Statement 19:

A sample of 100 voters are asked which of four candidates they would vote for in an
election. The number supporting each candidate is given below:
Do the data suggest that all candidates are equally popular? 

[Chi-Square = 14.96, with 3 df, 𝑝 0.05]

In [201]:
#H0: All candidates are equally popular (or) popularity and candidates in election are independent of each other
#H1: All candidates are not equally popular (or) popularity and candidates in election are dependent variables

chi_val= 14.96
df=3
p=0.05

#At 5% level of significance from chi-square table
cval= 7.82

print("The chi-square test value {} is greater than critical value {}. \nHence we can reject the null hypothesis that all candidates are popular.".format(chi_val,cval))

The chi-square test value 14.96 is greater than critical value 7.82.
Hence we can reject the null hypothesis that all candidates are popular.

Problem Statement 20:

Children of three ages are asked to indicate their preference for three photographs of
adults. Do the data suggest that there is a significant relationship between age and
photograph preference? What is wrong with this study? 

[Chi-Square = 29.6, with 4 df: 𝑝 < 0.05].

In [202]:
#H0: Age and photo preference are independent
#H1: Age and photo preference are dependent

chi_val= 29.6
df=4
p=0.05

#At 5% level of significance from chi-square table
cval= 9.488

print("The chi-square test value {} is greater than critical value {}. \nHence we can reject the null hypothesis that age and photo preference are independent.".format(chi_val,cval))

The chi-square test value 29.6 is greater than critical value 9.488.
Hence we can reject the null hypothesis that age and photo preference are independent.

Problem Statement 21:

A study of conformity using the Asch paradigm involved two conditions: one where
one confederate supported the true judgement and another where no confederate
gave the correct response.

Is there a significant difference between the "support" and "no support" conditions in the
frequency with which individuals are likely to conform?

[Chi-Square = 19.87, with 1 df:𝑝 < 0.05]

In [203]:
#H0: There is no difference between support and no support
#H1: There is significant difference between support and no support

chi_val= 19.87
df=1
p=0.05

#At 5% level of significance from chi-square table
cval= 3.841

print("The chi-square test value {} is greater than critical value {}. \nHence we can reject the null hypothesis that there is no difference between support and no support.".format(chi_val,cval))

The chi-square test value 19.87 is greater than critical value 3.841.
Hence we can reject the null hypothesis that there is no difference between support and no support.

Problem Statement 22:

We want to test whether short people differ with respect to their leadership qualities
(Genghis Khan, Adolf Hitler and Napoleon were all stature-deprived, and how many midget
MP's are there?) The following table shows the frequencies with which 43 short people and
52 tall people were categorized as "leaders", "followers" or as "unclassifiable". Is there a
relationship between height and leadership qualities?

[Chi-Square = 10.71, with 2 df: 𝑝 < 0.01]

In [204]:
#H0: Height and leadership qualities are independent
#H1: Height and leadership qualities are dependent

chi_val= 10.71
df=2
p=0.01

#At 1% level of significance from chi-square table
cval= 9.210

print("The chi-square test value {} is greater than critical value {}. \nHence we can reject the null hypothesis that height and leadership qualities are independent.".format(chi_val,cval))

The chi-square test value 10.71 is greater than critical value 9.21.
Hence we can reject the null hypothesis that height and leadership qualities are independent.

Problem Statement 23:

Each respondent in the Current Population Survey of March 1993 was classified as
employed, unemployed, or outside the labor force. The results for men in California age 35-
44 can be cross-tabulated by marital status, as follows:

Men of different marital status seem to have different distributions of labor force status. Or is
this just chance variation? (you may assume the table results from a simple random
sample.)

In [206]:
#H0: Marital status and Job status are independent
#H1: Marital status and Job status are dependent

employed= [679,103,114]
Unemployed= [63, 10,20]
Not= [42,18,25]
employed.append(sum(employed))
Unemployed.append(sum(Unemployed))
Not.append(sum(Not))

Combined= [679+63+42,103+10+18,114+20+25,employed[3]+Unemployed[3]+Not[3]]

In [208]:
ls1= [employed,Unemployed,Not,Combined]

T1= pd.DataFrame(ls1, columns=['Married','Widowed/divorced/separated','Never married','Total'],index=['Employed','Unemployed','Not in labor force','combined'])

In [209]:
T1

                    Married  Widowed/divorced/separated  Never married  Total
Employed                679                         103            114    896
Unemployed               63                          10             20     93
Not in labor force       42                          18             25     85
combined                784                         131            159   1074

In [210]:
Obs= T1.iloc[0:3,0:3]

In [211]:
Obs #Observed frequency

                    Married  Widowed/divorced/separated  Never married
Employed                679                         103            114
Unemployed               63                          10             20
Not in labor force       42                          18             25

In [212]:
T2= np.outer(T1['Total'][0:3],T1.iloc[3:4,0:3])/1074

In [216]:
Exp=pd.DataFrame(T2, columns=['Married','Widowed/divorced/separated','Never married'],index=['Employed','Unemployed','Not in labor force'])

In [217]:
Exp #Expected frequency

                       Married  Widowed/divorced/separated  Never married
Employed            654.063315                  109.288641     132.648045
Unemployed           67.888268                   11.343575      13.768156
Not in labor force   62.048417                   10.367784      12.583799

In [218]:
chi_val= ((Obs-Exp)**2/Exp).sum()

In [220]:
chi_sq= sum(chi_val)

In [221]:
chi_sq

31.613103194077983

In [222]:
#At 5% level of significance and df=4
critic_val= 9.488

print("The chi_square value {} is greater than critical value {}. \nHence null hypothesis is rejected and we can conclude that marital status and job status are dependent on each other".format(chi_sq,critic_val))

The chi_square value 31.613103194077983 is greater than critical value 9.488.
Hence null hypothesis is rejected and we can conclude that marital status and job status are dependent on each other