In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

In [2]:
nba= pd.read_csv("C:\\Users\\melchiz shroff\\Downloads\\nba_2013.csv")

In [3]:
nba.head()

,player,pos,age,bref_team_id,g,gs,mp,fg,fga,fg.,...,drb,trb,ast,stl,blk,tov,pf,pts,season,season_end
0,Quincy Acy,SF,23,TOT,63,0,847,66,141,0.468,...,144,216,28,23,26,30,122,171,2013-2014,2013
1,Steven Adams,C,20,OKC,81,20,1197,93,185,0.503,...,190,332,43,40,57,71,203,265,2013-2014,2013
2,Jeff Adrien,PF,27,TOT,53,12,961,143,275,0.520,...,204,306,38,24,36,39,108,362,2013-2014,2013
3,Arron Afflalo,SG,28,ORL,73,73,2552,464,1011,0.459,...,230,262,248,35,3,146,136,1330,2013-2014,2013
4,Alexis Ajinca,C,25,NOP,56,30,951,136,249,0.546,...,183,277,40,23,46,63,187,328,2013-2014,2013

In [4]:
nba_data= nba.copy()

In [5]:
nba_data.head()

,player,pos,age,bref_team_id,g,gs,mp,fg,fga,fg.,...,drb,trb,ast,stl,blk,tov,pf,pts,season,season_end
0,Quincy Acy,SF,23,TOT,63,0,847,66,141,0.468,...,144,216,28,23,26,30,122,171,2013-2014,2013
1,Steven Adams,C,20,OKC,81,20,1197,93,185,0.503,...,190,332,43,40,57,71,203,265,2013-2014,2013
2,Jeff Adrien,PF,27,TOT,53,12,961,143,275,0.520,...,204,306,38,24,36,39,108,362,2013-2014,2013
3,Arron Afflalo,SG,28,ORL,73,73,2552,464,1011,0.459,...,230,262,248,35,3,146,136,1330,2013-2014,2013
4,Alexis Ajinca,C,25,NOP,56,30,951,136,249,0.546,...,183,277,40,23,46,63,187,328,2013-2014,2013

In [6]:
nba_data.isnull().sum()

player           0
pos              0
age              0
bref_team_id     0
g                0
gs               0
mp               0
fg               0
fga              0
fg.              2
x3p              0
x3pa             0
x3p.            67
x2p              0
x2pa             0
x2p.             3
efg.             2
ft               0
fta              0
ft.             20
orb              0
drb              0
trb              0
ast              0
stl              0
blk              0
tov              0
pf               0
pts              0
season           0
season_end       0
dtype: int64

In [7]:
nba_data.set_index("player",inplace=True)

In [8]:
nba_data.head()

,pos,age,bref_team_id,g,gs,mp,fg,fga,fg.,x3p,...,drb,trb,ast,stl,blk,tov,pf,pts,season,season_end
player,,,,,,,,,,,,,,,,,,,,,
Quincy Acy,SF,23,TOT,63,0,847,66,141,0.468,4,...,144,216,28,23,26,30,122,171,2013-2014,2013
Steven Adams,C,20,OKC,81,20,1197,93,185,0.503,0,...,190,332,43,40,57,71,203,265,2013-2014,2013
Jeff Adrien,PF,27,TOT,53,12,961,143,275,0.520,0,...,204,306,38,24,36,39,108,362,2013-2014,2013
Arron Afflalo,SG,28,ORL,73,73,2552,464,1011,0.459,128,...,230,262,248,35,3,146,136,1330,2013-2014,2013
Alexis Ajinca,C,25,NOP,56,30,951,136,249,0.546,0,...,183,277,40,23,46,63,187,328,2013-2014,2013

In [9]:
#Imputing missing values
nba_data["fg."].fillna(nba_data["fg."].mean(),inplace=True)
nba_data["x2p."].fillna(nba_data["x2p."].mean(),inplace=True)
nba_data["efg."].fillna(nba_data["efg."].mean(),inplace=True)
nba_data["x3p."].fillna(nba_data["x3p."].mean(),inplace=True)
nba_data["ft."].fillna(nba_data["ft."].mean(),inplace=True)

In [10]:
nba_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 481 entries, Quincy Acy to Tyler Zeller
Data columns (total 30 columns):
pos             481 non-null object
age             481 non-null int64
bref_team_id    481 non-null object
g               481 non-null int64
gs              481 non-null int64
mp              481 non-null int64
fg              481 non-null int64
fga             481 non-null int64
fg.             481 non-null float64
x3p             481 non-null int64
x3pa            481 non-null int64
x3p.            481 non-null float64
x2p             481 non-null int64
x2pa            481 non-null int64
x2p.            481 non-null float64
efg.            481 non-null float64
ft              481 non-null int64
fta             481 non-null int64
ft.             481 non-null float64
orb             481 non-null int64
drb             481 non-null int64
trb             481 non-null int64
ast             481 non-null int64
stl             481 non-null int64
blk             481 non-null int64
tov             481 non-null int64
pf              481 non-null int64
pts             481 non-null int64
season          481 non-null object
season_end      481 non-null int64
dtypes: float64(5), int64(22), object(3)
memory usage: 116.5+ KB

In [11]:
#Separating the numeric and categorical variables
nba_num= nba_data.select_dtypes(include=(['int64','float64']))

In [14]:
nba_cat= nba_data.select_dtypes(include=['object'])

In [15]:
#Scaling the numeric features
nba_norm = nba_num.apply(lambda x: (x - x.min()) / (x.max() - x.min()))

In [35]:
#season is standard across rows, so can be removed

teams= nba_cat['bref_team_id'].unique()
positions= nba_cat['pos'].unique()

print("The teams present in the data are {} \nThe teams are {}".format(len(teams), teams))
print("_"*50)
print("    ")
print("The positions present in the data are {} \nThe teams are {}".format(len(positions), positions))

The teams present in the data are 31
The teams are ['TOT' 'OKC' 'ORL' 'NOP' 'NYK' 'POR' 'MIA' 'MEM' 'BRK' 'PHI' 'MIL' 'ATL'
 'WAS' 'GSW' 'DEN' 'HOU' 'SAS' 'BOS' 'PHO' 'MIN' 'LAC' 'CLE' 'UTA' 'DET'
 'CHA' 'DAL' 'CHI' 'LAL' 'IND' 'TOR' 'SAC']
__________________________________________________

The positions present in the data are 7
The teams are ['SF' 'C' 'PF' 'SG' 'PG' 'G' 'F']

In [36]:
#Removing season column

nba_cat.drop(['season'],axis=1, inplace=True)

C:\Users\melchiz shroff\Anaconda3\lib\site-packages\pandas\core\frame.py:4102: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [41]:
nba_ohe= pd.get_dummies(nba_cat)

In [50]:
nba_ohe.columns

Index(['pos_C', 'pos_F', 'pos_G', 'pos_PF', 'pos_PG', 'pos_SF', 'pos_SG',
       'bref_team_id_ATL', 'bref_team_id_BOS', 'bref_team_id_BRK',
       'bref_team_id_CHA', 'bref_team_id_CHI', 'bref_team_id_CLE',
       'bref_team_id_DAL', 'bref_team_id_DEN', 'bref_team_id_DET',
       'bref_team_id_GSW', 'bref_team_id_HOU', 'bref_team_id_IND',
       'bref_team_id_LAC', 'bref_team_id_LAL', 'bref_team_id_MEM',
       'bref_team_id_MIA', 'bref_team_id_MIL', 'bref_team_id_MIN',
       'bref_team_id_NOP', 'bref_team_id_NYK', 'bref_team_id_OKC',
       'bref_team_id_ORL', 'bref_team_id_PHI', 'bref_team_id_PHO',
       'bref_team_id_POR', 'bref_team_id_SAC', 'bref_team_id_SAS',
       'bref_team_id_TOR', 'bref_team_id_TOT', 'bref_team_id_UTA',
       'bref_team_id_WAS'],
      dtype='object')

In [51]:
nba_norm.columns

Index(['age', 'g', 'gs', 'mp', 'fg', 'fga', 'fg.', 'x3p', 'x3pa', 'x3p.',
       'x2p', 'x2pa', 'x2p.', 'efg.', 'ft', 'fta', 'ft.', 'orb', 'drb', 'trb',
       'ast', 'stl', 'blk', 'tov', 'pf', 'pts', 'season_end'],
      dtype='object')

In [53]:
nba_norm.drop(['season_end'],axis=1,inplace=True)

In [55]:
final_nba= pd.concat([nba_norm,nba_ohe],axis=1)

In [56]:
final_nba.head()

,age,g,gs,mp,fg,fga,fg.,x3p,x3pa,x3p.,...,bref_team_id_ORL,bref_team_id_PHI,bref_team_id_PHO,bref_team_id_POR,bref_team_id_SAC,bref_team_id_SAS,bref_team_id_TOR,bref_team_id_TOT,bref_team_id_UTA,bref_team_id_WAS
player,,,,,,,,,,,,,,,,,,,,,
Quincy Acy,0.20,0.756098,0.000000,0.271067,0.077739,0.083531,0.468,0.015326,0.024390,0.266667,...,0,0,0,0,0,0,0,1,0,0
Steven Adams,0.05,0.975610,0.243902,0.383211,0.109541,0.109597,0.503,0.000000,0.000000,0.285111,...,0,0,0,0,0,0,0,0,0,0
Jeff Adrien,0.40,0.634146,0.146341,0.307594,0.168433,0.162915,0.520,0.000000,0.000000,0.285111,...,0,0,0,0,0,0,0,1,0,0
Arron Afflalo,0.45,0.878049,0.890244,0.817366,0.546525,0.598934,0.459,0.490421,0.487805,0.426667,...,1,0,0,0,0,0,0,0,0,0
Alexis Ajinca,0.30,0.670732,0.365854,0.304390,0.160188,0.147512,0.546,0.000000,0.001626,0.000000,...,0,0,0,0,0,0,0,0,0,0

In [57]:
x= final_nba.drop(['pts'],axis=1)
y= final_nba['pts']

In [58]:
from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest= train_test_split(x,y,test_size=0.3,random_state=0)

In [59]:
from sklearn.neighbors import KNeighborsRegressor
knn= KNeighborsRegressor(n_neighbors=6)
knn.fit(xtrain,ytrain)

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
                    metric_params=None, n_jobs=None, n_neighbors=6, p=2,
                    weights='uniform')

In [60]:
ypred= knn.predict(xtest)

In [62]:
from sklearn.metrics import r2_score
r2_score(ytest,ypred)

0.8930375505302957

In [63]:
#Increasing nearest neighbors value
knn1= KNeighborsRegressor(n_neighbors=8)
knn1.fit(xtrain,ytrain)

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
                    metric_params=None, n_jobs=None, n_neighbors=8, p=2,
                    weights='uniform')

In [64]:
ypred1= knn1.predict(xtest)

In [65]:
r2_score(ytest,ypred1)

0.8921576711843727

In [66]:
#Let us try with 10 neighbors
knn2= KNeighborsRegressor(n_neighbors=10)
knn2.fit(xtrain,ytrain)

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
                    metric_params=None, n_jobs=None, n_neighbors=10, p=2,
                    weights='uniform')

In [67]:
ypred2= knn2.predict(xtest)

In [68]:
r2_score(ytest,ypred2)

0.8968840640258832